<div class="fields col-md-12 col-sm-12 form-group">
  <div class="col-md-4 col-sm-4">
    <div class="col-md-12 col-sm-12 no-pad">
      <%= f.label :value, "Position" %>
    </div>
    <div class="col-md-12 col-sm-12 no-pad">
      <%= f.text_field :value, placeholder: "e.g. 'Bokononism'", class: 'form-control', style: 'display: block;' %>
    </div>
  </div>
  <div class="col-md-4 col-sm-4">
  	<br>
    <%= link_to_remove_fields "remove", f %>
  </div>
</div>